 /*font:
  font-family: 'Playfair Display', serif; (manoescrita principal)
  font-family: 'Cinzel', serif; (grande)
  font-family: 'Reenie Beanie', cursive; (movido)
  font-family: 'Six Caps', sans-serif; (juntos)
  font-family: 'Allerta Stencil', sans-serif; (rayi)
colores:
rojo principal: #B40404;
rojo oscuro: #2A0A0A;
rojo fondo: #990000;
plomo claro: #E6E6E6;
plomo mas claro: #F2F2F2;

*/
/*SECTION ABOUT ME STYLES*/
#particles-js{
  border-bottom: 10px solid #23313f;
}

.seccion_aboutme{
	background:#E6E6E6;
  padding-top: 50px;

}
#imgPerfil{
  shape-outside: circle(50%);
  width: 200px;
  height: 200px;
  float: left;
  border: 5px solid #2A0A0A;
  margin:30px;
  
}

#imgPerfil:hover{
	transform: scale(1.1);
	-ms-transform: scale(1.1); 
	-webkit-transform: scale(1.1);
 	box-shadow: 5px 5px 5px #4b4b4b;
}

.section_aboutme_title{  /*titulo de about-me*/
	font-size: 70px;
  margin:30px;
  box-shadow: 2px 2px 5px #999;
  padding-top: 50px;
}

.section_aboutme_title:hover{
   color: #2A0A0A;
}

.section_aboutme_title2{
  font-family: 'Cinzel', serif;
  padding-bottom: 30px;
}

.section_aboutme_parrafo{
	font-family: 'Reenie Beanie', cursive;
	text-align: justify;
	font-size: 30px;
  color: #2A0A0A;
  margin:160px;
  padding-bottom: 115px;
  padding-top: 50px;
}

.section_aboutme_parrafo:hover{
  color: #990000;
}



.content-slide{ /*seccion conocimientos*/
	background-color: #990000;
	color: white;
  height: 650px;

}

.slide1{ /*seccion herramientas*/
  background-color: white;
}

.conoci_iconos{
  font-size: 100px;
  font-family: 'Cinzel', serif;
  position: relative;
  top: -100px;
  padding-top: 100px;
}

.utilidades_iconos{
	font-size: 100px;
	font-family: 'Cinzel', serif;
  padding-top: 50px;

}

.conoci_iconos:hover{
 
}
.utilidades_iconos:hover{

}

.section_proyect_title{
	color: white;
  padding: 50px;
  padding-top: 100px;
  font-family: 'Allerta Stencil', sans-serif;
  font-size:50px;

}

.section_proyect_title1{
  color: #990000;
  font-size:50px;
  font-family: 'Allerta Stencil', sans-serif;
  font-size:50px;
  display:flex;
  justify-content: center;
  padding-top: 100px; 
}

.img-thumbnail{
	margin:19px;
  background-color: #990000;
  color:white;
}

.img-thumbnail:hover{
	background:white;
  color:#990000;
}



/*seccion portafolio*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Teko:700);
.snip1543 {
  background-color: #fff;
  color: #ffffff;
  display: inline-block;
  font-family: 'Cinzel', serif;
  font-size: 30px;
  margin: 20px 5px;
  max-width: 500px;
  min-width: 363px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  padding: 10px;
}

.snip1543 *,
.snip1543 *:before,
.snip1543 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1543 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.snip1543:before,
.snip1543:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #b81212;
  opacity: 0.5;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1543:before {
  -webkit-transform: skew(30deg) translateX(-80%);
  transform: skew(30deg) translateX(-80%);
}

.snip1543:after {
  -webkit-transform: skew(-30deg) translateX(-70%);
  transform: skew(-30deg) translateX(-70%);
}

.snip1543 figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 25px 40% 25px 20px;
}

.snip1543 figcaption:before,
.snip1543 figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b81212;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: '';
  opacity: 0.5;
  z-index: -1;
}

.snip1543 figcaption:before {
  -webkit-transform: skew(30deg) translateX(-100%);
  transform: skew(30deg) translateX(-100%);
}

.snip1543 figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-90%);
  transform: skew(-30deg) translateX(-90%);
}

.snip1543 h3,
.snip1543 p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip1543 h3 {
  font-family: 'Teko', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.snip1543 p {
  font-size: 0.9em;
}

.snip1543 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1543:hover h3,
.snip1543.hover h3,
.snip1543:hover p,
.snip1543.hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.9;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.snip1543:hover:before,
.snip1543.hover:before {
  -webkit-transform: skew(30deg) translateX(-20%);
  transform: skew(30deg) translateX(-20%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.snip1543:hover:after,
.snip1543.hover:after {
  -webkit-transform: skew(-30deg) translateX(-10%);
  transform: skew(-30deg) translateX(-10%);
}

.snip1543:hover figcaption:before,
.snip1543.hover figcaption:before {
  -webkit-transform: skew(30deg) translateX(-40%);
  transform: skew(30deg) translateX(-40%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.snip1543:hover figcaption:after,
.snip1543.hover figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-30%);
  transform: skew(-30deg) translateX(-30%);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}



/* redes sociales */
.section_footer{
  width:100%;
  background:url('../img/brad-bg-main.jpg');
  height: 160px;
  font-size:2em;
  text-align:center;
  font-family: 'Cinzel', serif;
  margin-top: 30px;
  margin-bottom:0px;
}
.section_footer_li{
  width:50px;
  height:50px;
  padding:10px;
  display:inline-block;
  border:2px solid #fff;
  border-radius:50%;
  line-height:18px;
  margin-right:10px;
  position:relative;
  cursor:pointer;
}
.fa{
  vertical-align:middle;
  line-height:inherit;
  padding-top: 60px;
  font-size: 50px;
  letter-spacing: 30px;
}

.logo{
  width: 150px;
  margin-left:600px;
  position:relative;
  top:50px;
  
}

.logo2{
  width: 30px;
}


/*menu*/
.main-nav a {
     font-size: 20px; 
     text-decoration: none;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
    display: inline-block;
    margin: 24px 12px;
    font-family: 'Reenie Beanie', cursive;
    
}
.main-nav a:hover {
   border-top: 2px solid #B40404;
  font-family: 'Reenie Beanie', cursive;
}
.main h2 {
   column-span: all;
}


.main-nav,
.main {
  position: relative; 
}
.main-nav {
  background: #990000;
  height: 60px;
  z-index: 150;
  margin-bottom: -80px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}
.main {
  background: #f2f2e8;
  padding: 110px 50px 50px;
  column-count: 2;
  column-gap: 40px;
}



.section_contact_correo{
  font-family: 'Allerta Stencil', sans-serif;
  color: #2A0A0A;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.section_contact_correo:hover{
  color: #990000;
}

.section_contact_title{
  display:flex;
  justify-content: center;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 65px;
  color: #990000;
}

.section_contact_parrafo{
  display: flex;
  justify-content: center;
  font-family: 'Reenie Beanie', cursive;
  font-size: 40px;
  color: #2A0A0A;
  padding-top: 100px;
  padding-left: 100px;

}

.slide_title{
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 5rem;
  color: #990000;
  display:flex;
  justify-content: center;
  padding-top: 200px;
  
}

