/*	media queries*/
@media screen and (max-width:640px) {
  body{
    width: 100%;
  }

  .opaque-bg_nombre {
    font-size: 25px;
    font-family: 'Cormorant Unicase', serif;
    /* font-family: 'Playfair Display', serif; */
    position: absolute;
    left: -25rem;
  }

  .logo {
    width: 150px;
    position: absolute;
    left: -50rem;

  }

  #holder {
    font-family: 'Reenie Beanie', cursive;
    font-size: 20px;
    margin-left: 211px;
    position: absolute;
    left: -40rem !important;
    top: 5rem !important;
  }

  .blinking-cursor {
    font-weight: 500;
    position: absolute;
    left: -3rem;
    top: 5rem;
    font-size: 20px;
    color: white !important;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

/*Section aboutme*/

#imgPerfil {
    shape-outside: circle(50%);
    width: 150px !important;
    height: 150px !important;
    float: left;
    border: 5px solid #2A0A0A;
    margin: 10px;
  }

  .section_aboutme_parrafo {
    font-family: 'Reenie Beanie', cursive;
    text-align: justify;
    font-size: 30px;
    color: #2A0A0A;
    margin: 10px !important;
    padding-bottom: 115px;
    padding-top: 50px;
  }

/*Section conocimientos*/
  .content-slide {
    background-color: #990000;
    color: white;
    height: 650px;
    width: 36rem;
    margin-top: 10px !important;
  }

  .section_proyect_title {
    color: white;
    padding: 50px;
    padding-top: 100px !important;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 30px !important;
  }
  /*Section herramientas*/
  .section_proyect_title1 {
    color: #990000;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 30px !important;
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }
  /*seccion portafolio*/
  .snip1543 {
    background-color: #fff;
    color: #ffffff;
    display: inline-block;
    font-family: 'Cinzel', serif;
    font-size: 30px;
    margin: 20px 5px;
    max-width: 300px !important; 
    min-width: 300px !important; 
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100px !important; 
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    padding: 10px;
  }
/*seccion contactame*/
  .section_contact_title {
    display: flex;
    justify-content: center;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 30px !important;
    color: #990000;
  }
  .section_contact_parrafo {
    display: flex;
    justify-content: center;
    font-family: 'Reenie Beanie', cursive;
    font-size: 40px;
    color: #2A0A0A;
    padding-top: 6px !important;
    padding-left: 0px !important;
  }
  .section_contact_correo {
    font-family: 'Allerta Stencil', sans-serif;
    color: #2A0A0A;
    display: flex;
    justify-content: center;
    font-size: 20px !important;
  }
  /*section footer*/
  .section_footer {
    width: 37rem !important;
    background: url(../img/brad-bg-main.jpg);
    height: 150px !important;
    font-size: 2em;
    text-align: center;
    font-family: 'Cinzel', serif;
    margin-top: 10px !important;
    margin-left: -40px !important;
    margin-bottom: 0px;
  }
} /* aqui temrina el media*/

@media screen and (min-width:412px) and (max-width:736px) {
  .logo {
    width: 150px;
    position: absolute;
    left: -47rem;
  }
  .opaque-bg_nombre {
    font-size: 25px;
    font-family: 'Cormorant Unicase', serif;
    /* font-family: 'Playfair Display', serif; */
    position: absolute;
    left: -23rem;
  }
  #holder {
    font-family: 'Reenie Beanie', cursive;
    font-size: 20px;
    margin-left: 211px;
    position: absolute;
    left: -38rem !important;
    top: 6rem !important;
  }
  .blinking-cursor {
    font-weight: 500;
    position: absolute;
    left: -2rem;
    top: 6rem;
    font-size: 17px;
    color: white !important;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
/*section conocimiento*/
  .content-slide {
    background-color: #990000;
    color: white;
    height: 650px;
    width: 41rem;
    margin-top: 10px !important;
  }
/*portafolio*/
  .snip1543 {
    background-color: #fff;
    color: #ffffff;
    display: inline-block;
    font-family: 'Cinzel', serif;
    font-size: 30px;
    margin: 20px 28px !important;
    max-width: 300px !important;
    min-width: 300px !important;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100px !important;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    padding: 10px;
}
/* section footer*/
  .section_footer {
    width: 42rem !important;
    background: url(../img/brad-bg-main.jpg);
    height: 150px !important;
    font-size: 2em;
    text-align: center;
    font-family: 'Cinzel', serif;
    margin-top: 10px !important;
    margin-left: -40px !important;
    margin-bottom: 0px;
  }
}/*Aqui termina el media*/

@media screen and (min-width:768px) and (max-width:1024px) {
  .logo {
    width: 150px;
    margin-left: 600px;
    position: relative;
    top: 51px;
    left: -300px;
  }
  .opaque-bg_nombre {
    position: absolute;
    left: -22rem !important;
    font-size: 54px !important;
    font-family: 'Cormorant Unicase', serif;
    
  }
    #holder {
    font-family: 'Reenie Beanie', cursive;
    font-size: 20px;
    margin-left: 211px;
    position: absolute;
    left: -16rem !important;
    top: 10rem !important;
  }

  .blinking-cursor {
    font-weight: 500;
    position: absolute;
    left: 12rem;
    top: 15rem;
    font-size: 21px;
    color: white !important;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}
/*section about me*/
.section_aboutme_title {
    position: relative !important;
    left: 20rem !important;
    top: 3rem !important;
    font-size: 70px;
    margin: -8px !important;
    box-shadow: 2px 2px 5px #999;
    padding-top: 50px;
  }
  .section_aboutme_parrafo {
    font-family: 'Reenie Beanie', cursive;
    text-align: justify;
    font-size: 30px;
    color: #2A0A0A;
    margin: 4px !important;
    padding-bottom: 115px;
    padding-top: 50px;
    width: 72rem !important;
  }
/*section conocimientos*/
  .content-slide {
    background-color: #990000;
    color: white;
    height: 650px;
    margin-top: -6rem;
  }
/*portafolio*/
  .snip1543 {
    background-color: #fff;
    color: #ffffff;
    display: inline-block;
    font-family: 'Cinzel', serif;
    font-size: 30px;
    margin: 22px 122px !important;
    max-width: 500px;
    min-width: 363px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    padding: 10px;
  }
/* section footer*/
  .section_footer {
    width: 78rem !important;
    background: url(../img/brad-bg-main.jpg);
    height: 150px !important;
    font-size: 2em;
    text-align: center;
    font-family: 'Cinzel', serif;
    margin-top: 15px !important;
    margin-left: -40px !important;
    margin-bottom: 0px;
  }

}/*Aqui termina el media*/
@media screen and (min-width:1024px) and (max-width:1366px) {
    .logo {
    width: 150px;
    margin-left: 600px;
    position: relative;
    top: 51px;
    left: -170px !important;
  }
  .opaque-bg_nombre {
    position: absolute;
    left: -9rem !important;
    font-size: 54px !important;
    font-family: 'Cormorant Unicase', serif;
    
  }
    #holder {
    font-family: 'Reenie Beanie', cursive;
    font-size: 20px;
    margin-left: 211px;
    position: absolute;
    left: -3rem !important;
    top: 10rem !important;
  }

  .blinking-cursor {
    font-weight: 500;
    position: absolute;
    left: 25rem;
    top: 15rem;
    font-size: 21px;
    color: white !important;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}
/*section about me*/
.section_aboutme_title {
    position: relative !important;
    left: 20rem !important;
    top: 3rem !important;
    font-size: 70px;
    margin: -8px !important;
    box-shadow: 2px 2px 5px #999;
    padding-top: 50px;
  }
  .section_aboutme_parrafo {
    font-family: 'Reenie Beanie', cursive;
    text-align: justify;
    font-size: 30px;
    color: #2A0A0A;
    margin: 4px !important;
    padding-bottom: 115px;
    padding-top: 50px;
    width: 98rem !important;
  }
/*section conocimientos*/
  .content-slide {
    background-color: #990000;
    color: white;
    height: 650px;
    margin-top: -2rem;
  }
/*portafolio*/
  .snip1543 {
    background-color: #fff;
    color: #ffffff;
    display: inline-block;
    font-family: 'Cinzel', serif;
    font-size: 30px;
    margin: 0px 0px !important;
    max-width: 200px;
    min-width: 363px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    padding: 10px;
  }
/* section footer*/
  .section_footer {
    width: 111rem !important;
    background: url(../img/brad-bg-main.jpg);
    height: 150px !important;
    font-size: 2em;
    text-align: center;
    font-family: 'Cinzel', serif;
    margin-top: 15px !important;
    margin-left: -40px !important;
    margin-bottom: 0px;
  }

}/*Aqui termina el media*/
